<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>main</title>
        <link rel="stylesheet" href="/static/main.css" />
    </head>
    <body>
        <header>
            <h1>дайте гроші пж</h1>
        </header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="main.html">Game</a></li>
            </ul>
            <section>
                <h2>МОНОБАНК</h2>
                <p>тприкол у тому що хостинг платний так що кидайте гроші в скарбничку пж пж пж пж пж пж</p>
                <h2>https://send.monobank.ua/jar/6NcThiKuKU</h2>
            </section>
        </main>
        <footer>
            <p>&copy; 2025 School Project. All rights reserved.</p>
        </footer>
    </body>
</html>
