<!doctype html>
<html lang="uk">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Шлях до Гарварду | Головна</title>
        <!-- Переконайся, що у Rust додано маршрут для CSS, див. нижче -->
        <link rel="stylesheet" href="/static/main.css" />
    </head>
    <body>
        <header>
            <h1>deep dark fantasy dungeon 3d super gameplay</h1>
            <p>Шкільний проєкт, який змінить світ (або хоча б оцінку в табелі)</p>
        </header>
        <nav>
    <ul>
        <!-- Ссылка на главную -->
        <li><a href="/">Home</a></li>
        
        <!-- Ссылка на О нас -->
        <li><a href="/about.html">About</a></li>
        
        <!-- Ссылка на ИГРУ (теперь ведет на /game) -->
        <li><a href="/game">Game</a></li> 
    </ul>
</nav>
        

        <main>
            <section>
                <div class="harvard-badge">Ціль: Гарвард 2025</div>
                <h2>Про що ця гра?</h2>
                <p>
                    Це не просто гра це квиток у КПі Ліцей.
                    Ми створили унікальний всесвіт.
                </p>
                <p>
                    Ви граєте за героя, який застряг у <strong>в попе</strong>. 
                    тут багато slave <strong>замку</strong>, deep dark <strong>fantasy</strong> 
                    та безжального відкритого <strong>door</strong>.
                </p>
                <p>
                    Чому саме так? Тому що ми хотіли 12 балів
                </p>
            </section>

            <section>
                <h2>Геймплей</h2>
                <p>
                    нема
                </p>
                <p>
                    <strong>Особливості:</strong>
                    <br>🚀 Рушій Godot 4
                    <br>🦀 Сервер на Rust
                    <br>🏰 Атмосфера безнадії та величі
                </p>
            </section>
        </main>

        <footer>
            <p>&copy; 2025 School Project "Harvard Bound". Всі права захищені (навіть від інопланетян).</p>
        </footer>
    </body>
</html>