<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>main</title>
        <link rel="stylesheet" href="../static/main.css" />
    </head>
    <body>
        <header>
            <h1>типо мейн</h1>
        </header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        <div class="game-container">
            <iframe
                src="../godot_game/GalaxyJumper.html."
                width="1024"
                height="600"
                frameborder="0"
                allow="fullscreen; autoplay; focus-without-user-activation"
                id="game-frame"
            >
            </iframe>
        </div>
        <main>
            <section>
                <h2>тест</h2>
                <p>тест.</p>
            </section>
        </main>
        <footer>
            <p>&copy; 2025 School Project. All rights reserved.</p>
        </footer>
    </body>
</html>
